.app-char-details {
  flex-direction: column;
  align-items: center;
  .profile-bg {
    margin-top: -1.5rem!important;
    border-radius: 0 10px 10px 0;

    img {
      border-radius: 0 0 10px 10px;
    }
  }

  h3 {
    text-transform: uppercase;
    text-align: center;
  }

  .user-pic {
    display: flex;
    justify-items: center;
    .user-pic-wrapper {
      width: 150px;
      overflow: hidden;
      height: 150px;
      border-radius: 100%;
      border: 2px solid #e62429;
      img {
        border-radius: 100%;
      }
    }
  }
}

.series-section {
  background: #FFF;
  padding: 15px;
  box-shadow: 1px 9px 10px 0px #989898;
}