.app-header {
  flex-grow: 0;
  background-color: #333;
  min-height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  color: white;

  .logo {
    img {
      height: 50px;
    }
  }

}