.search-form {
  position: relative;
  .searchIcon {
    position: absolute;
    top: 30%;
    color: #757575;
  }
  .input-search {
    border: none;
    border-bottom: 2px solid #757575;
    width: 100%;
    background: none;
    font-size: 30px;
    padding-left: 30px;
  }
}