.card-char-img {
  height: 210px;
  overflow: hidden;
  display: flex;
  border-bottom: 3px solid #e62429
}

.card-char-body {
  background: #000;
  flex-direction: column;
}

.card-char-title {
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  flex-grow: 1;
}

.card-char-description {
  font-size: 12px;
  color: #ffffff;
  flex-grow: 0;
}

.card-char-view-details {
  color: white;
  background: #e62429;
  padding: 5px;
  text-align: center;
  margin-top: 20px;
  border-radius: 30px;
  font-size: 14px;
}