$theme-colors: (
        "marvel": #e62429
);

@import "../node_modules/bootstrap/scss/bootstrap";

.App {
  background: #ddd;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
  display: flex;


  .main {
    flex-grow: 1;
  }
}
