.serie-item {
  background: #333333;
  color: #fff;
  padding: 10px;
  flex-direction: column;
  .serie-header {
    align-items: center;
    flex: 1;

    .serie-title {
      flex: 1;
      margin: 0;
    }
  }
}